	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->    
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/popper.js" ></script>
    <script src="/static/js/bootstrap.js"></script>
    <footer class="footer" >
      <div class="container" >
            <div class="row justify-content-center" >
            	<div class="col-12">
	            	<div class="row justify-content-center ">
	            		Keluh Saran  dan Tanggapan untuk ITB | Powered by: Beego
					</div> 
				</div>
            </div>
      </div>

    </footer>

